<div class="container">
  <div class="capital-container">
    <div class="select-city" *ngIf="country == undefined; else capital">
      Select a city
    </div>
    <ng-template #capital>
      <div class="capital-selected">
        <div class="country-name">
          <span> Country </span> <span>{{ country.country }}</span>
        </div>
        <div class="city-name">
          <span> Capital </span> <span> {{ country?.city || "Unknown" }} </span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
