name: E2E Tests with cypress

on: [push]

jobs:
  e2e-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: 16
          cache: "npm"
      - name: Install Angular packages
        run: npm ci
      - name: Install Cypress packages
        run: cd e2e && npm ci
      - name: Lunch E2E test
        run: npm run test:e2e:ci
